@import url("styles.css");

html, body {
    padding:0;
    margin:0;
}

.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 250px 1fr 40px;
    grid-template-areas: 
    "navbar navbar navbar"
    "mh mh mh"
    "blog blog blog"
    "ft ft ft";
    height: 100vh;
    /* justify-content: space-around;
    align-content:space-between; */
}


.heading {
    grid-area: hd;
}


.navigation {
    grid-area:navbar;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.masthead {
    display:flex;
    flex-direction:column;
    grid-area: mh;
    background-color: rgba(242, 246, 255, 0.9);
    border-radius: 6px;
    margin-top: 10px;
    padding: 16px;
}

.blog-area {
    grid-area: blog;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(75px, 350px)); */
    /* grid-template-rows: minmax(100px, 200px); */
    /* grid-template-rows: repeat(auto-fit, minmax(200px, auto-fit)); */
    /* grid-auto-rows: minmax(200px, max-content ); */
    grid-auto-rows: max-content;
    grid-gap: 16px;
    padding: 20px;

}

.foot {
    grid-area: ft;
}

.article-card {
    /* border: 1px solid red; */
    border-radius: 6px;
    /* height: minmax(100px, 200px); */
    /* max-height: 200px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow:hidden;
    display:flex;
    flex-direction: column;

}

.article-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
}

.placeholder-article-image {
    display:flex;
    height:100px;
    background-color:red;
    justify-content: center;
    align-items: center;
}

.placeholder-article-image > i {
    font-size: 2em;
}


#article-1 > .placeholder-article-image {
    background-color:#527ceb;
}

#article-2 > .placeholder-article-image {
    background-color:#e3fcee;
}

#article-3 > .placeholder-article-image {
    background-color:#ffc754;
}

.article-text {
    margin-left: 10px;
}

.article-author-header {
    display:flex;
    flex-direction:row;
    align-items: center;
}

.article-card-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid lightgray;
    /* background-color: black; */
    margin-right: 10px;
    overflow: hidden;
}

.article-card-img img {
    max-width:100%;
}

.article-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CTA button {
    margin-bottom: 15px;
}

.hide {
    display: contents;
}


@media (min-width:1140px) {
    .blog-area {
        padding: 20px 0;
    }
}
